*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html,body{
  width:100%;
  height:100%;
}

.borderContainer{
  margin:50px;
  margin-top:0;
  border:2px solid red;
  height:100%;
  border-top:0;
  position:relative;
}

.borderContainer:before{
  content:'';
  display:block;
  width:90%;
  border-top:2px solid red;
  position:absolute;
  right:0;
}
.borderContainer:after{
  content:'';
  display:block;
  width:3%;
  border-top:2px solid red;
  position:absolute;
  left:0;
}

.door{
  position:absolute;
  top:0px;
  height:2px;
  background:red;
  width:7.1%;
  left:2.9%;
  transform:rotate(0deg);
  transform-origin:0 0;
  
  
  animation:doorToggle 2s infinite;
}


@keyframes doorToggle{
  0%{
   transform:rotate(0deg); 
  }
  50%{
   transform:rotate(-40deg); 
  }
  100%{
   transform:rotate(0deg); 
  }
}