body{
	font-size: 16px;
	font-size:100%;
}

h1, h4, p {
 font-family: 'Slabo 27px', serif;
 text-align: center;

}

h1 {
	color: #E30513;
}

h4 {
	color: #27348A;
}

header{
	margin-top: 20px;
	margin-bottom: 40px;
	border: 3px solid #F39200;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 4px 4px 5px 4px;
}

svg{
	display: block;
	position: relative;
}

/*-----------------------------Anfang GRID-System-----------------*/
.float{
	float:left;
	display: block;
}

.tableHolder {
	display: table;
	width: 100%;
}

.col{
	display: table-cell;
	vertical-align: middle;
	padding:1em;
}

.col1 {
  width: 8.33333%;
}

.col2 {
  width: 16.66667%;
}

.col3 {
  width: 25%;
}

.col4 {
  width: 33.33333%;
}

.col5 {
  width: 41.66667%;
}

.col6 {
  width: 50%;
}

.col7 {
  width: 58.33333%;
}

.col8 {
  width: 66.66667%;
}

.col9 {
  width: 75%;
}

.col10 {
  width: 83.33333%;
}

.col11 {
  width: 91.66667%;
}

.col12 {
  width: 100%;
}

/*-----------------------------Ende GRID-System-----------------*/
.speechBubble{
	position: relative;

}



.speechBubble:hover{

}

.speechBubble:before,.speechBubble:after {
    content: '';
    display: block;
    position: absolute;

}
.speechBubble:before {
    width: 95%;
    height: 95%;
    background: orange;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 20px;
}

.speechBubble:after {
     width: 0;
    height: 0;
    border: 15px solid orange;
    top: 13%;
    right: -20px;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid orange;
}





/*-----------------------------Ende GRID-System-----------------*/

footer {
	margin-right: auto;
	margin-left: auto;
	/*margin-bottom: 50px;*/
  	/*position: absolute;*/
}

#Copyright{
	font-size: 16px;
	color: #27348A;
	margin-left: auto;
	margin-right: auto;
}