h1, h4, p{
 font-family: 'Slabo 27px', serif;
 text-align: center;

}

h1 {
	color: #E30513;
}

h4 {
	color: #27348A;
}

header{
	margin-top: 20px;
	margin-bottom: 40px;
	border: 3px solid #F39200;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 4px 4px 5px 4px;
}

svg viewBox {
	height: 20%;
	
	display: block;
	position: relative;
}

footer {
	margin-right: auto;
	margin-left: auto;
	/*margin-bottom: 50px;*/
  	/*position: absolute;*/
}

#Copyright{
	font-size: 16px;
	color: #27348A;
	margin-left: auto;
	margin-right: auto;
}