h1, h4{
 font-family: 'Slabo 27px', serif;
 text-align: center;

}

h1 {
	color: #E30513;
}

h4 {
	color: #27348A;
}

header{
	margin-top: 15px;
	margin-bottom: 70px;
<<<<<<< HEAD
	border: 2px solid #F39200;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
=======
	border: 3px solid #F39200;
	width: 50%;
>>>>>>> origin/master
}